@model SM.Models.User
@{
    ViewBag.Title = "ChangePasword";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Change Pasword</h2>

 @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <div class="container">
            <div class="row">
                <hr />
                    @ViewBag.Msg
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model=>model.Id)
                <br/>
                <br />
                        <div class="form-group">
                            @Html.Label("New Password", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "New Password" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Confirm Password", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.ConfirmPass, new { @class = "form-control", @placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(model=>model.ConfirmPass, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Change" class="btn btn-default" />
                            </div>
                        </div>
                </div>
            </div>
        </div>
    }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/CustomJs/Student.js"></script>
}