@model StudentManagementSystem.ViewModel.StudentVM
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<br />
<div class="col-md-3"><br />
    @Html.DropDownListFor(model => model.DepartmentId, Model.DepartmentLookup, new { @class = "form-control" })
</div>
<div class="col-md-2"><br />
    @Html.DropDownListFor(model => model.CountryId, Model.CountryLookup, new { @class = "form-control" })
</div>
<div class="col-md-3"><br />
    @Html.EditorFor(model => model.SearchQuery, new { htmlAttributes = new { @class = "form-control", @placeholder= "Search by Name or ContactNo" } })
</div>

<div class="col-md-4">
    <div class="col-md-5">
        @Html.Label("From", htmlAttributes: new { @class = "control-label col-md-2" })
        <input type="text" name="fromDate" id="fromDate" value="01 Jan, 1920" class="form-control" style="cursor:pointer" readonly="readonly" placeholder="Birthday from" />
    </div>
    <div class="col-md-5">
        @Html.Label("To", htmlAttributes: new { @class = "control-label col-md-2" })
        <input type="text" name="toDate" id="toDate" value="@DateTime.Now.ToString("dd MMM, yyyy")" class="form-control" style="cursor:pointer" readonly="readonly" placeholder="To" />
    </div>
    <div class="col-md-1">
        <br />
        <button class="btn btn-primary" style=" cursor:pointer" id="searchBtn"><span class="glyphicon glyphicon-search"></span></button>
    </div>
</div>
<div class="col-md-3">
    <label class="control-label">Search By Age</label><br />
    <button class="col-md-4" id="lessThanAge" style="float:left;">Less<span class="input-group-text glyphicon glyphicon-chevron-left"></span></button>
    <input class="col-md-4" style="float:left;" type="number" id="ageField" placeholder="Age">
    <button class="col-md-4" id="greaterThanAge" style="float:left;"><span class="input-group-text glyphicon glyphicon-chevron-left">More</span></button><br />
</div>

<br /><br />
<table id="example" class="display nowrap table table-bordered table-responsive">
    <thead style="background:#d4d8d9">
        <tr>
            <td>S/N</td>
            <td>Name</td>
            <td>StudentId</td>
            <td>City</td>
            <td>Date Of Birth</td>
            <td>Age</td>
            <td>Contact No</td>
            <td>Image</td>
            <td>Delete</td>
            <td>Edit</td>
            <td>View</td>
        </tr>
    </thead>
    <tbody id="tbody">
        @{ int serial = 0;
            foreach(var student in Model.Students)
            {
                serial++;
                <tr>
                    <td>@serial</td>
                    <td>@student.Name</td>
                    <td>@student.StudentIdNo</td>
                    <td>@student.City.Name</td>
                    <td>@student.DateOfBirth.Value.ToString("dd MMM, yyyy")</td>
                    <td>
                        @{
                            //DateTime zeroTime = new DateTime(1, 1, 1);
                            //DateTime olddate = student.DateOfBirth.Value;
                            //DateTime curdate = DateTime.Now.ToLocalTime();
                            //TimeSpan span = curdate - olddate;
                            //// because we start at year 1 for the Gregorian 
                            //// calendar, we must subtract a year here.
                            //int years = (zeroTime + span).Year - 1;
                            //int months = (zeroTime + span).Month - 1;
                            //int days = (zeroTime + span).Day;

                            DateTime zeroTime = new DateTime(1, 1, 1);
                            DateTime birthDate = student.DateOfBirth.Value;
                            DateTime curdate = DateTime.Now.ToLocalTime();
                            TimeSpan span = curdate - birthDate;
                            int years = (zeroTime + span).Year - 1;
                            int months = (zeroTime + span).Month - 1;
                            int days = (zeroTime + span).Day;
                        }
                        @years years, @months months, @days days
                    </td>
                    <td>@student.ContactNo</td>
                    <td>
                        @if (student.Images.Count() > 0)
                        {
                            int index = student.Images.Count() - 1;
                            var imgFile = student.Images[index].FileName;
                            if (imgFile != null)
                            {
                               <img src="~/images/@imgFile" class="img-responsive" width="50" height="50" />
                            }
                        }
                        else
                        {
                            <img src="~/images/default.png" class="img-responsive img-rounded" height="50" width="50" />
                        }
                       
                    </td>
                    <td>
                        <button class="btn btn-danger deleteBtn" value="@student.Id"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                    <td>
                        <button class="btn btn-info editBtn" value="@student.Id"><a href="/Student/Update?id=@student.Id"><span class="glyphicon glyphicon-edit"></span></a></button>
                    </td>
                    <td>
                        <button class="btn btn-info viewProfile" value="@student.Id"><a href="/Student/Profile?id=@student.Id"><span class="glyphicon glyphicon-eye-open"></span></a></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/CustomJs/Student.js"></script>
    <script src="~/Scripts/dataTables/ai.0.22.9-build00167.js"></script>
<script src="~/Scripts/dataTables/buttons.flash.min.js"></script>
<script src="~/Scripts/dataTables/buttons.html5.min.js"></script>
<script src="~/Scripts/dataTables/buttons.print.min.js"></script>
<script src="~/Scripts/dataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/dataTables/jszip.min.js"></script>
<script src="~/Scripts/dataTables/pdfmake.min.js"></script>
<script src="~/Scripts/dataTables/vfs_fonts.js"></script>
<script src="~/Scripts/CustomJs/Dashboard.js"></script>
}
